
@{
    ViewData["Title"] = "ActualizarEstudiamte";
    Layout = "_LayoutMPE";
}




<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>



    </div>
</div>


<div class="container1" id="container">
    <div class="form-container sign-in-container">
        <form class="row g-3">

            <div class="row">
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Tipo de Documento</label>
                    <select id="inputState" class="form-select" style="position:relative; margin-top:0.5rem;">
                        <option selected>Cedula de Ciudadania</option>
                        <option>Tarjeta de Identidad</option>
                    </select>

                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Numero de documento</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
            </div>

            <div class="row">


                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Nombre</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Apellidos</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Correo Electronico</label>
                    <input type="email" class="input1" id="inputtext">
                </div>
             
                <div class="col-md-3">
                    <label for="inputState" class="form-label">Genero</label>
    <select id="inputState" class="form-select">

                        <option selected> Hombre</option>
                        <option> Mujer  </option>
                        <option> Otro  </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="form-label">Rol</label>
                    <select id="inputState" class="form-select">
                        <option selected>Administrador</option>
                        <option>Cordinador</option>
                        <option>Estudiante</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Correo Electronico</label>
    <input type="email" class="input1" id="inputtext" placeholder="Certificado pdf ">
                </div>


                
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Exposicion de Seguridad Informatica</label>
                    <select id="inputState" class="form-select">
                        <option selected>Maestroa en Gestion TI.</option>
                        <option>Maestria en medio Ambiente</option>
                    </select>
                </div>
           


            <div class="col-12">
            </div>
            <div class="col-12">
                <button type="submit" class="boton">
                    Actualizar
                </button>
            </div>
        </form>
    </div>

    </div>


