
@{
    ViewData["Title"] = "Pagos";
    Layout = "_LayoutMPE";
}

<

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>



    </div>
</div>


<div class="container1" id="container">
    <div class="form-container sign-in-container">
        <form class="row g-3">


            <div class="col-12">
            </div>
            <div class="col-12">
                <button type="submit" class="boton">
                    Volver
                </button>
            </div>
        </form>
    </div>

</div>



