
@{
    ViewData["Title"] = "EntrevistasAdmisiones";
    Layout = "_LayoutMPC";
}



<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        </div>



    </div>
</div>


<div class="container1" id="container">
    <div class="form-container sign-in-container">
        <form class="row g-3">

            <div class="row">
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Tipo de Documento</label>
                    <select id="inputState" class="form-select" style="position:relative; margin-top:0.5rem;">
                        <option selected>Cedula de Ciudadania</option>
                        <option>Tarjeta de Identidad</option>
                    </select>

                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Numero de documento</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
            </div>

            <div class="row">


                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Nombre</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress" class="form-label">Primer Apellido</label>
                    <input type="text" class="input1" id="inputtext">
                </div>
                <div class="col-md-6">
                    <label for="inputAddress2" class="form-label">Pegundo apellido</label>
                    <input type="email" class="input1" id="inputtext">
                </div>

                <div class="col-md-6">
                    <label for="inputState" class="form-label">Programa</label>
                    <select id="inputState" class="form-select">

                        <option selected> Exposicion de Seguridad Informatica</option>
                        <option> Maestria en Gestion TI  </option>
                        <option> Maestria en medio Ambiente  </option>
                    </select>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 150px;margin-top: 2rem;"></textarea>
  <label for="floatingTextarea">Comments</label>
</div>
                </div>
            
            </div>
            <div class="b-row2" style="
    /* margin-top: 12rem; */
    position: relative;
    left: 15rem;
    bottom: 08rem;
">

                <div class="col-md-6" style="
    position: relative;
    left: 10rem;
    /* top: 2.8rem; */
">

                    <button type="submit" class="programar"> Ingresar</button>
                </div>

                <div class="col-md-6" style="
    position: relative;
    left: 23rem;
    bottom: 2.8rem;
">

                    <button type="submit" class="Volver">Volver</button>

                </div>

            </div>
            <div class="b-row2" style="
    margin-top: 12rem;
">

                <div class="col-md-6" style="
    position: relative;
    left: 10rem;
    top: 2.8rem;
">

                    <button type="submit" class="programar"> Homologar</button>
                </div>

                <div class="col-md-6" style="
    position: relative;
    left: 23rem;
">

                    <button type="submit" class="Volver">Volver</button>

                </div>

            </div>
        </form>
    </div>

</div>



